---
// src/components/Header.astro
interface Props {
	siteTitle: string;
}

const { siteTitle } = Astro.props;
---
<header role="banner" class="site-header">
  <div class="site-title">
    <a href="/">{siteTitle}</a>
  </div>
  <nav role="navigation">
    <!-- Navigation links will go here -->
  </nav>
</header>
